.app{
  background-color: #FFC90D;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 50%;
    background-color: #f5f5f5;
    margin-bottom: 100px;
    border-radius: 15px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  
    h1 {
      font-size: 80px;
      font-family: "Arial", sans-serif
    }
  
    input {
      width: 300px;
      margin-bottom: 10px;
      padding: 8px;
    }
  }
  

  .form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;

    select {
      width: 80%;
    }

    button {
      margin-top: 10px;
      background-color: #3F47CC;
      border: 0;
      color: #FFFFFF;
    }
  }
