.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 70%;
    background-color: #f5f5f5;
  
    h1 {
      font-size: 100px;
      margin-top: 50px;
      font-family: "Arial", sans-serif
    }
  
    .button-group {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  
      button{
        background-color: #3F47CC;
        color: #f5f5f5;
        border: 0;
      }
    }
  }
  