#root{
    background-color: #FFC90D;
}

.bg{
    background-color: #FFC90D;
    height: 99vh;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-container{
    
}

