.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.form-group {
    margin-bottom: 10px;
}
  
input,
select {
    width: 250px;
    height: 30px;
    padding: 5px;
}